@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$gris-claro;

    @include m.tablet{
        display:flex;
        height:100vh;//viewport height , altura de la pantalla a 100% de arriba abajo
    }

    .principal{
        flex:1;
        overflow: scroll;
    }

    .contenido{
        padding:2rem;
        .nombre-pagina{
            font-size:2.8rem;
            text-align: center;
        }
    }

    .formulario{
        input:not([type="submit"]){
            background-color: v.$blanco;
        }
        input[type="submit"]{
            @include m.boton(v.$indigo,v.$blanco);
                &{padding:1.25rem; 
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.6rem;
                border-radius: .5rem;
                }
        }
    }
}